.list {
  position: absolute;
  top: 230px;
  margin-left: 25%;
  padding-left: 15px;
  width: 250px;
  height: 35px;
  box-shadow: 0 3px 4px 0 rgba(252, 29, 66, 0.568);
}

.search {
  margin-left: 45%;
  position: absolute;
  top: 230px;
  box-shadow: 0 3px 4px 0 rgba(252, 137, 29, 0.568);
  padding-left: 15px;
  width: 450px;
  height: 30px;
}

.lists {
  padding-top: 10px;
  padding-left: 20px;
  display: inline-block;
  margin: 15px;
  width: 21%;
  box-shadow: 1.7px 5px 9px 0 rgba(248, 60, 60, 0.4);
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 12px;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 40px;
}
h3 {
  color: gray;
  margin-left: 40px;
}

.oname {
  position: absolute;
  top: 170px;
  font-family: cursive;
  color: aliceblue;
  font-size: 30px;
  margin-left: 220px;
}

.logo {
  position: absolute;
  top: 43px;
  margin-left: 43%;
  border-radius: 50%;
  overflow: hidden;
}

.description {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  font-size: small;
  padding-bottom: 10px;
  color: grey;
}
