.head{
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 35px;
    top: 10px;
}

.navigation{                            
    position: relative;
    margin-top: 0px;
    text-align: center;
    width: 100%;
}

.player{
    display: inline-block;
    position: absolute;
    text-align: left;
    width:10%;
    top:70px;
}

.options{
    text-align: left;
    /* margin: 70px; */
    width:100%;
    top: 15%;   
}
